.Track {
    width: calc(100% - 3px);    /* Matches parent container, except 3px 
                                   on right to prevent button from touching scroll bar */

    min-height: 100px;          /* Min height for each track shown */

    display: flex;              /* Nested items (image, description, button) 
                                    displayed horizontally in flex display*/
    flex-direction: row;   

    border-bottom: solid 0.1px #a5a579;  /* Bottom border to visually separate from other tracks */
    margin: 6px 0px;                       /* Top and bottom padding between tracks */
    background-color: transparent;         /* Track body matches parent <div> color */
}

.Track-Info  {
    margin-top: 0px;           
    font-family: 'Work Sans';  /* Default text font for nested divs in .Track-Info  */
    flex-grow: 1;              /* Expands to take available space since parent is flex object */
}

.Track-Info h3 {
    margin-top:    0.35rem; 
    margin-bottom: 0.9rem;
    font-size:     1.0rem;   /* Font-size for track title in <Track> object*/
}

.Track-Info .description {
    font-size: 0.7rem;      /* Font-size for track description elements (artist(s) & album name) */
    padding-bottom: 0.4rem;
}

.Track-img {                /* Styling for track image displayed for each track */
    height: 84px;
    width:  84px;
    margin: auto 10px;      /* Vertically centered with side paddings */
    border-radius: 10px;     /* Rounded image corners for visuals*/
    flex-shrink: 0;         /* Prevents image from shrinking when resizing */

    border: 1px solid rgb(209, 209, 185); /* bordering and shadow around track preview image*/
    box-shadow: 0px 0px 12px black;
}


/*********************************************************************************/
/*********************************************************************************/
/************ Styling for button depending on what function is active ************/
/*********************************************************************************/
/*********************************************************************************/

.add-to-playlist { /* Styling for add('+') button in <SearchResults? component */

    margin: auto 0;       /* Vertically centers button */      
    margin-right: 1rem;   /* Keeps button spaced from vertical scroll */

    display: flex;
    align-items: center;                 /* Vertically centers plus('+') sign, NOT circle background */
    justify-content: center;             /* Horizontally centers plus('+') sign, NOT circle background */
    font-size: 3.3rem;                   /* Font-size of the plus('+') sign */
    color: beige;                      /* Plus sign color */
    background-color: rgb(77, 77, 77); /* Background color fo button */
    cursor: pointer;                     /* Cursor becomes pointer on hover over button */
    flex-shrink: 0;                      /* Prevents button resizing (keeps button shape) */
    width: 2.2rem;                       /* Button width */
    height: 2.2rem;                      /* Button height */
    border-radius: 50%;                  /* Makes button in rounded circle shape */
    border: 3px solid rgb(119, 119, 119); /* Button border */
    transition: all 0.15s;               /* Adds smooth transition for hover for visuals */

    box-shadow: 0 3px 1px 3px #000000d7; /* Shadow under 'add' button */ 
}

.add-to-playlist:hover {  /* Styling when hovering over button */
    background-color: rgb(59, 165, 100);
    color: rgb(39, 39, 39);
    border: 3px solid rgb(41, 117, 70); 
    box-shadow: 0 3px 1px 3px #143d24de; /* Shadow under 'add' button when hovering */ 
}

.add-to-playlist:active { /* Styling pressing down button */
    background-color: rgb(41, 117, 70);
    color: beige; 
    transform: scale(0.90); /* Button slightly shrinks on press for visuals */
    box-shadow: 0 3px 1px 3px #0c2717de; /* Shadow under 'add' button when pressing */ 
}

/*********************************************************************************/
/*********************************************************************************/
/********************* Style for 'drop-from-playList' button *********************/
/*********************************************************************************/
/*********************************************************************************/

.drop-from-playlist {

    margin: auto 0;       /* Vertically centers button */      
    margin-right: 1rem;   /* Keeps button spaced from vertical scroll */

    display: flex;
    align-items:center;                 /* Vertically centers plus('-') sign, NOT square background */
    justify-content: center;             /* Horizontally centers plus('-') sign, NOT square background */
    font-size: 3.3rem;                   /* Font-size of the plus('-') sign */
    color: beige;                      /* Plus sign color */
    background-color: rgb(77, 77, 77); /* Background color for button */
    cursor: pointer;                     /* Cursor becomes pointer on hover over button */
    flex-shrink: 0;                      /* Prevents button resizing (keeps button shape) */
    width: 2.2rem;                       /* Button width */
    height: 2.2rem;                      /* Button height */
    border-radius: 10%;                  /* Makes button into square with rounded corners */
    border: 3px solid rgb(119, 119, 119); /* Button border */
    transition: all 0.15s;                  /* NEW: Adds smooth transition for hover */

    box-shadow: 0 3px 1px 3px #000000d7; /* Shadow under 'add' button */ 
}

.drop-from-playlist span { /* Due to minus('-') not being completely vertically centered, 
                              translateY() is used to move the minus up until centered in button */ 
    transform: translateY(-0.2465rem);
}

.drop-from-playlist:hover { /* Styling when hovering over button */
    background-color: rgb(224, 88, 88);
    color:  rgb(39, 39, 39);
    border: 3px solid rgb(170, 58, 58);
    box-shadow: 0 3px 1px 3px #852d2dc9; /* Shadow under 'add' button when hovering */ 
}

.drop-from-playlist:active { /* Styling pressing down button */
    background-color: rgb(170, 58, 58);
    color: beige; 
    transform: scale(0.90); /* Button slightly shrinks on press for visuals */
    box-shadow: 0 3px 1px 3px #6e2525d5; /* Shadow under 'add' button when pressing */ 
}
