html {
    font-size: 16px; /* IMPORTANT!! Sets font-size standard (default font-size) from 
                        which any 'rem' adjustments can be made for nested font-sizes, 
                        margins, paddings, etc!!! . */
}

body {
    margin: 0;
    background-image: url(./images/stars-pattern-640.jpg);
}