
.Playlist {
    border: 2px solid black;         /* Solid border to differentiate Container from background*/
    border-radius: 1.5rem;             /* Rounds corners of Search Results container */
    background-color:beige;          /* 'Beige' for current background color*/

    box-shadow: 0 4px 2px 2px #000000;  /* Shadow around search results container for 'pop' effect */
    padding: 0.88rem;                  /* Prevents content from touch border/edge */

    width: 420px;   /* Takes portion of parent container width (to make room for Playlist container */
    height: 620px;  /* Height of container */

    display: flex;          /* Stores selected tracks from search results output in Flex layout */ 
    flex-direction: column; /* column direction used when tracks are selected */
}

.Playlist input {
    width: 100%;                         /* Matches input box width with parent */
    border: none;                        /* Removes border around input box for blending */
    font-family: 'Poppins', sans-serif;  /* Chosen placeholder/input text font */
    font-size: 1.55rem;                  /* font size */
    background: transparent;             /* removes default textbox background color to blend in background */
    border-bottom: 2px solid rgba(75, 75, 75, 0.61); /* bottom borderline to visual separation */
}

.Playlist input:focus {
    outline: none; /* Removes automatic textbox outline/border when user focuses/clicks into textbox */

}
.Playlist input::placeholder {
    font-size: 100%; /*1.5rem; */
}

.Playlist input:focus::placeholder {
    color: transparent; /* Removes placeholder when user focuses/clicks into textbox */
  
}

/* Playlist Display area (similar to that of SearchResults) */

.PlayList-Display { /* Basic styling */
    width: 100%;
    background-color: beige;
    overflow-y: auto; /* Trigger's vertical scroll when playlist grows too big*/
}

.PlayList-Display p { /* Notification when tracks aren't added to playlist yet */
    font-family: 'Poppins';
    font-size: 1rem;
    color: rgb(51, 51, 51) ;
}

.PlayList-Display::-webkit-scrollbar {
    width: 8px;   /* Controls scroll bar's thickness */
}

.PlayList-Display::-webkit-scrollbar-track {
    background-color: transparent;   /* Scroll track's background color is light-gray */
}

.PlayList-Display::-webkit-scrollbar-thumb {
    background: rgb(167, 167, 167);   /* Dark color for actual thumb (aka 'horizontal scroller') contrast */
    width: 10px;
    border-radius: 10px;                 /* Rounded corners for thumb */
    border: 1px solid rgb(92, 92, 92); /* Adds some space and contrast between thumb and track */
}

.PlayList-Display::-webkit-scrollbar-thumb:hover {
    background: rgb(144, 110, 199); /* Thumb's color lightens on hover just like all buttons */
    border: 1px solid rgb(97, 71, 138);
} 

/***************************************************/
/************ Submit Playlist button ***************/
/***************************************************/

.button-space { /* Ensures proper spacing and centering of button */
    width: 100%;
    min-height: 70px;
    display: flex;  
    align-items: center;     /* In flex display, center button vertically */          
    justify-content: center; /* In flex display, center button horizontally */

}

.submit-button {

    font-family: "Work Sans"; /* Button label text's font*/

    color: beige;                          /* Button label text color */
    background-color: rgb(77, 77, 77);     /* Black-like color for button color */
    border: 3px solid rgb(119, 119, 119);  /* Border around button */
    box-shadow: 0 3px 1px 3px #000000d7;   /* Shadow under 'SUBMIT Playlist' button */ 
    transition: all 0.15s; /* Adds smooth transition visual for hover and pressing */

    height: 2.5rem;    /* button height */
    width: 9rem;       /* button width  */

    text-align: center;    /* Horizontal centering of Text */
    align-content: center; /* Vertical centering of Text   */

    border-radius: 1.5rem;   /* Rounded button edges for styling */
}

.submit-button:hover {
    cursor: pointer;   /* 'pointer' cursor on hover (to click) */

    background-color: rgb(201, 201, 201);  /* Button color on hover */
    color: rgb(39, 39, 39);                /* Button text on hover */
    border:  3px solid rgb(139, 139, 139); /* Dark grey border around button*/
    box-shadow: 0 3px 1px 3px #000000d7;   /* Darker grey shadow under 'SUBMIT Playlist' button on hover*/ 
}

.submit-button:active{
    cursor: pointer;  /* 'pointer' cursor on hover (to click) */
    transform: scale(0.90); /* Button shrink on click for visual effect*/           

    background-color: rgb(110, 110, 110);  /* Button color on hover */
    border: 3px solid #a3a3a3;             /* Lighter grey on button rim*/
    color: rgb(255, 255, 255);             /* Button text color on hover */
    box-shadow: 0 3px 2px 2px #000000d7;   /* Dark colored shadow under 'SUBMIT Playlist' button on hover*/ 
}


/*********************************************************************************/
/*********************************************************************************/
/****************** Responsive Styling for Mobile screen sizes *******************/
/*********************************************************************************/
/*********************************************************************************/

@media screen and (max-width: 719px) {
    .Playlist {
        /* Below setup ensures that .Search-Results
           expands between 300-500px height */
        min-height: 300px;
        height: 66%;
        max-height: 500px; 
    }
}

@media screen and (max-width: 490px) {
     /* For mobile screen, take as much width as possible.*/
    .Playlist {
        display: flex;
        width: 97%;  /* 97% of parent size's width*/
    }
}