
.Playlist {

    border: 2px solid black;         /* Solid border to differentiate Container from background*/
    border-radius: 1.5rem;             /* Rounds corners of Search Results container */
    background-color:beige;          /* rgb(139,69,19);   /* 'Saddle brown' for current background color*/
    /*overflow-y: scroll;*/
    box-shadow: 0 4px 2px 2px #000000;  /* Shadow around search results container for 'pop' effect */
    padding: 0.88rem;                  /* Prevents content from touch border/edge */

    width: 45%;       /* Takes portion of parent container width (to make room for Playlist container */
    height: 950px;    /* Height of container */

    display: flex;          /* Stores selected tracks from search results output in Flex layout */ 
    flex-direction: column; /* column direction used when tracks are selected */
}

.Playlist input {
    border: none;                        /* Removes border around input box for blending */
    font-family: 'Poppins', sans-serif;  /* Chosen placeholder/input text font */
    font-size: 1.55rem;                  /* font size */
    background: transparent;             /* removes default textbox background color to blend in background */
    border-bottom: 2px solid rgba(75, 75, 75, 0.61); /* bottom borderline to visual separation */
}

.Playlist input:focus {
    outline: none; /* Removes automatic textbox outline/border when user focuses/clicks into textbox */

}

.Playlist input:focus::placeholder {
    color: transparent; /* Removes placeholder when user focuses/clicks into textbox */
  
}

/* Playlist Display area (similar to that of SearchResults) */

.PlayList-Display {
    width: 100%;
    background-color: beige;
    overflow-y: auto;
    overflow-x: hidden;
}

.PlayList-Display::-webkit-scrollbar {
    width: 8px;   /* Controls scroll bar's thickness */
}

.PlayList-Display::-webkit-scrollbar-track {
    background-color: transparent;/*#e0e0e0;   /* Scroll track's background color is light-gray */
    /*border-radius: 10px;       /* Rounded corners for scrollbar track */
}

.PlayList-Display::-webkit-scrollbar-thumb {
    background: rgb(167, 167, 167);/*rgb(117, 116, 110);        /* Dark color for actual thumb (aka 'horizontal scroller') contrast */
    width: 10px;
    border-radius: 10px;          /* Rounded corners for thumb */
    border: 1px solid rgb(92, 92, 92);/*#b8b8b8;  /* Adds some space and contrast between thumb and track */
}

.PlayList-Display::-webkit-scrollbar-thumb:hover {
    background: rgb(144, 110, 199); /* Thumb's color lightens on hover just like all buttons */
    border: 1px solid rgb(97, 71, 138);
} 